<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/style.css" media="screen"/>
    </head>
    <body>
    {% include 'view/list.html.twig' %}
    {% block list %}{% endblock %}
    </body>
</html>
