parameters:
    locale: ru
    secret:            1cff313fe2c7ea760869c89ead447314
    database_host:     host
    database_port:     3306
    database_name:     dbname
    database_user:     dbuser
    database_password: pass
    tm_host: "https://target.my.com"
    tm_get_token_url: "/api/v2/oauth2/token.json"
    tm_delete_token_url: "/api/v2/oauth2/token/delete.json"
    tm_max_tokens_count: 5
    registratura_token: reg_token
    loreal_token: lor_token
    test_company_token: test_token
    global_token: global_token
